.container_home{
    flex: 0.8;
    height: auto;
    padding: 1.5rem;
    background-color: #F2F2F2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px){
    .container_home{
     flex: 1;
     height: 100%;
    }
}

@media screen and (max-width: 495px){
    .container_home{
        align-items: center;
    }
}