* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Serif Caption', serif;
}
.container_app{
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px){
  .container_app{
      flex-direction: column;
  }
}